@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Press Start 2P', cursive;
	font-size: 12px;
}

* {
	box-sizing: border-box;
}

button {
	font-family: 'Press Start 2P', cursive;
	color: #000;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#app {
	height: 100%;
}
