@font-face {
  font-display: swap;
  font-family: 'Press Start 2P';
  src: url('/assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Press Start 2P', cursive;
	font-size: 12px;
}

* {
	box-sizing: border-box;
}

button {
	font-family: 'Press Start 2P', cursive;
	color: #000;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}